* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/light-veneer.png);
}

.carouselImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.searchBar {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-panel, .left-panel {
	height: 70vh;
	text-align: center;
	border-radius: 20px;
	border-color: black;
}

.center-panel {
	height: 60vh;
	text-align: center;
	border-radius: 20px;
	border-color: black;
}

[class*='col-'] {
	position: relative;
}