* {
    box-sizing: border-box;
}

body {
		background-image: url(../images/light-veneer.png);
		align-content: center;
}

.heading {
	font-family: 'Dancing Script', cursive;
	color: #827E38;
	font-size: 75px;
}

.carouselImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carouselText {
	font-family: 'Gloria Hallelujah', cursive;
}

.searchBar {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: 0px;
}

.carousel-control {
    opacity: .1;
    margin-left: 100px;
    margin-right: 100px;
	background-color: lightgray;
	width: 10%;

}

.right-panel, .left-panel {
	height: 85vh;
	text-align: center;
}

.left-recipe-panel {
	min-height: 58vh;
	height: auto;
	/* height: 58vh; */
	text-align: left;
	margin-left: 20px;
	margin-right: 10px;
}

.right-details-panel {
	margin-right: 20px;
	margin-left: 10px;
}

.center-panel {
	height: auto;
	min-height: 90vh;
	text-align: center;
}

h2 {
	font-family: 'Shadows Into Light', cursive;
}

[class*='col-'] {
	position: relative;
}

.recipeList {
	/* background-color: red; */
	width: 100%;
	height: auto;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Gloria Hallelujah', cursive;
	/* font-family: 'Dancing Script', cursive; */
	/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
	color: #827E38;
<<<<<<< HEAD
	
=======
>>>>>>> b1ac421b187e09994f62789f4bbc340b63688b03
}


.neededContainer {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	width: 100%;
	justify-content: space-evenly;
	height: 5vh;
}

#alreadyHave {
	margin-bottom: 8px;
}

.listItems {
	width: 100%;
	background-color: whitesmoke;
	min-height: 75vh;
	height: auto;
}

.mainContainer {
	display: flex;
	justify-content: space-evenly;
	margin-left: 200px;
}

.footer {
	position: relative;
    bottom: 0px;
    width: 100%;
    height: 100px;
    line-height: 60px;
	background-color: rgb(139, 134, 62);
	border-top: 3px solid  #827E38;
	text-align: center;
}

.footerText {
	font-family: 'Gloria Hallelujah', cursive;
}

.ingredientsListStyle {
	font-family: 'Gloria Hallelujah', cursive;
	color: #827E38;
}

.instructionsStyle {
	color: #827E38;
}

.shoppingList {
	width: 100%;
}

table td {

}

td {

}

.productTable {
	border: 1px solid black;
	text-align: center;
}

.productTable td {
	height: 7vh;
	width: 40%;
	border: 1px solid black;
}

.listImage {
	width: 33%;
}

.image-data {
	width: 33%;
}